.multi-item-carousel .carousel-inner > .item {
    transition: 500ms ease-in-out left;
  }
  .multi-item-carousel .carousel-inner .active.left {
    left: -25%;
  }
  .multi-item-carousel .carousel-inner .active.right {
    left: 25%;
  }
  .multi-item-carousel .carousel-inner .next {
    left: 25%;
  }
  .multi-item-carousel .carousel-inner .prev {
    left: -25%;
  }
  @media all and (transform-3d), (-webkit-transform-3d) {
    .multi-item-carousel .carousel-inner > .item {
      transition: 500ms ease-in-out left;
      transition: 500ms ease-in-out all;
      -webkit-backface-visibility: visible;
              backface-visibility: visible;
      transform: none!important;
    }
  }
  .multi-item-carousel .carouse-control.left,
  .multi-item-carousel .carouse-control.right {
    background-image: none;
  }


  .carousel-control.right
  {
    background: none !important;
  background: no-repeat url(data:image/png;base64,h64GFj4fhffGFHJJ74fhf) !important;
  }
  .carousel-control.left
  {
    background: none !important;
  background: no-repeat url(data:image/png;base64,h64GFj4fhffGFHJJ74fhf) !important;
  }